 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

 body{
   background: url(https://fondosmil.com/fondo/25777.jpg) center center no-repeat fixed;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid white;
   width: 100%;
   height: 6rem;
 }
 .nav img {
   width: 6.5rem;
   margin-top: -1rem;
 }
 .menu .main-menu{
   display: flex;
   align-items: flex-start;
   margin-bottom: -2.6rem;
   padding: 0.5rem;
   background-color: rgba(0, 0, 0, 0.603);
   border: 1px solid white;
   border-radius: 0.5rem;
   border-bottom: none;
   justify-content: flex-start;
   width: 40em;
}

.menu .main-menu a{
   text-decoration: none;
   list-style-type: none;
   color: white;
   font-family: 'Playfair Display', serif;
   cursor: pointer;
   opacity: 1;

}
.menu .main-menu a:hover{
   opacity: 1;
   font-weight: 600;


}
.menu .main-menu li{
   list-style-type: none;
   width: 10rem;
}
.bu a {
   padding: 0  2rem 0 3rem;
}
.ba  a{
   border-left: 1px solid white;
   padding: 0  0  0 3rem;
}

.be  a{
   border-left: 1px solid white;
   padding: 0  2rem 0 3rem;
 }
 
.bi  a{
   border-left: 1px solid white;
   padding: 0  2rem  0 3rem;
 }
 
.bo  a{
   border-left: 1px solid white;
   padding: 0  2rem  0 3rem;
  
 }


 .get button {
   display:flex ;
   background-color: rgba(42, 44, 42, 0);
   border: 0.5px solid white;
   border-bottom: 1.8px rgba(3, 3, 3, 0.562) solid;
   height: 2rem;
   border-radius: 0.7rem;
   align-items: center;
   width: 100%;}


   .get button.btn-b{
   background-color: rgba(42, 44, 42, 0.795);
}
.get2 button {
  display:flex ;
  background-color: rgba(42, 44, 42, 0);
  border: 0.5px solid white;
  border-bottom: 1.8px rgba(3, 3, 3, 0.562) solid;
  height: 2rem;
  border-radius: 0.7rem;
  align-items: center;
  width: 100%;}


  .get2 button.btn-b{
  background-color: rgba(42, 44, 42, 0.795);
}
.get2 button.btn-b{
  background-color: rgba(42, 44, 42, 0.795);
}

.get button.btn-a{
   background-color:  rgba(227, 228, 227, 0.699);
}
.get2 button.btn-a{
  background-color:  rgba(227, 228, 227, 0.699);
}


 
 .get  button.btn-b:hover {
 background-color: rgba(227, 228, 227, 0.699)
 }
 .get button.btn-a:hover {
   background-color:  rgba(42, 44, 42, 0.795);
   }
   .get2  button.btn-b:hover {
    background-color: rgba(227, 228, 227, 0.699)
    }
    .get2 button.btn-a:hover {
      background-color:  rgba(42, 44, 42, 0.795);
      }
 button a{
   text-decoration: none;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   gap: 1rem;
   font-weight: 500;
 }
 .btn-b a{
   color: rgb(255, 253, 253);
 }
.btn-b a:hover{
   color: rgb(3, 3, 3);
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .btn-a a{
   color: rgb(3, 3, 3);
 }
.btn-a a:hover{
   color:rgb(255, 253, 253);
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .get{
   gap: 0.5rem;
   display: flex;

 }
 .get .btn-a{
   display: flex;
   width: 4rem;
 }
 
 .get .btn-b{
   width: 68%;}
   .get{
    gap: 0.5rem;
    display: flex;
 
  }
  .get2{
    gap: 0.5rem;
    display: flex;
    display: none;
 
  }
  
  .get2 .btn-a{
    display: flex;
    width: 4rem;
  }
  
  .get2 .btn-b{
    width: 68%;}
   
 h1{
   font-family: 'Playfair Display', serif;
   color: white;
   font-style: italic;
 }

 p{
   font-family: 'Playfair Display', serif;
   color: white;
 }

 .section-home{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 3rem;
 
   gap: 15rem;
 }

 .image img {
   width: 25rem;
   height: 30rem;
   border-radius: 2rem;
   border: 0.2px solid rgba(10, 10, 10, 0.61);
   border-bottom: 1px solid rgba(247, 243, 243, 0.219);
   
 }
 .home-cta{
   width: 25rem;
   height: 28rem;
   background-color: rgba(0, 0, 0, 0.815);
   border-radius: 2rem;
 
   border: 1px solid rgba(19, 19, 19, 0.692);
   border-bottom: 1px solid rgba(247, 243, 243, 0.219);

 
 }

 .home-cta p{
   font-size: 17px;
   padding: rem;
 }
 .home-cta h1{
   font-size: 45px;
   padding: 1rem;
   margin-top: 0.5rem;
 }
 .email{
   display: flex;
   width: 100%;
   gap: 2rem;
   padding: 3rem;
   align-items: center;
 }

 .email button{
   background-color: rgb(105, 105, 105);
   height: 2rem;
   border-radius: 10px;
 }
 .email button {
   color: white;
   opacity: 1;
   cursor: pointer;
 }
 .email button :hover{
   opacity: 0.50;
 }
 .email input{
   background-color: rgba(255, 255, 255, 0);
   border: none;
   outline: none;
   color: white;
   border-bottom: 1px solid white;
   border-radius: 1rem;
   height: 2rem;
   width: 15rem;
 }

.email input:hover{
   background-color: rgba(245, 242, 242, 0.699);
   color: black;
   font-size: 500;
}



.contain {
   margin-top: 5rem;
   display: flex;
   background-color: rgba(0, 0, 0, 0.411);
   width: 100vw;
   height: 8rem;
   padding: 1rem;
   align-items: center;
   justify-content: space-around;
 

} 

.title1{
   color: white;
   opacity: 1;
   justify-self: center;
   margin-left: 0rem;
  align-items:center ;
   margin-top: -4.5rem;
   gap: 10px;

}
h2{
   font-family:Arial, Helvetica, sans-serif;
  
   font-size: 50px;
   align-self: flex-end;
}
.title1 span{
   font-family: 'Playfair Display', serif;
   font-size: 25px;
   margin-left: -2rem;
}
.redes{
display: flex;
align-items: center;
justify-content: center;
gap: 5rem;
margin: auto;
padding: 1rem;
}

.redes img{
   width: 40px;
   box-sizing: border-box;
}
.redes img:hover{
 opacity: 0.1;
 
}
.final{
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media all and (max-width:1090px){
  .section-home{
    gap: 5rem;
  }
}
@media all and (max-width:800px){
  .section-home{
   display: flex;
   flex-direction: column;
  }
  .nav .logo{
    display: none;
  }

  .nav .get{
    display: none;
  }
  .redes{
    gap: 1rem;
  }
  .get2{
    display: flex;
  }
  
}
@media all and (max-width:350px){
  .redes img{
    width: 30px;
    gap: 0.5rem;
  }
}