body{
    background: url(https://fondosmil.com/fondo/25777.jpg) center center no-repeat fixed;
    background-size: cover;

}
.contain{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.section1{
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 30rem;
    background-color: rgba(248, 245, 245, 0.541);
    margin-left: 6rem;
    margin-top: 6rem;
    border-radius: 2rem ;
    position: relative;
    box-sizing: border-box;
  
}

.section1:hover{
    outline: 1px solid rgb(245, 245, 247);

}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
    height: 100%;
    gap: 2rem;
    margin-top: 1rem;
}
label input{
    width: 20rem;
    background-color: rgba(248, 245, 245, 0);
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 0.5px solid black;
    height: 2rem;
    margin-left: 3rem;
    flex-direction: column;
    display: flex;
    font-family: 'Playfair Display', serif;
   
}

label input:hover{
    background-color: rgba(248, 245, 245, 0.432);
    border-radius:1.5rem ;
    gap: 10rem;

}

span{
    color: rgb(24, 24, 24);
    font-size: 16px;
    font-weight: 500;
    margin-left: 1rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

p{
    margin-left: 3rem;
    color:rgb(37, 36, 36) ;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

a{
    text-decoration: none;
    color: rgb(248, 246, 246);

}
p:hover{
    color:rgba(8, 8, 8, 0.938) ;
}
.btns{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1rem;

}
.btn-log{
    border: 1px solid rgb(46, 46, 46);
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    background-color: black;
   
}
.btn-goo{
    display: flex;
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(46, 46, 46);
    height:2rem;
    width: 10rem;
    border-radius: 5px;
    gap: 10px;
  align-items: center;
  justify-content: center;
 
}

.logo{
    width: 20px;
    border-radius: 3px;

}
.check{
    margin-top: 20px;
    margin-left: 6rem;
}
.check span{
    font-weight: 600;
}


.abso img{
    width: 33rem;
    opacity: 0.85;
}
.abajo{
    background-color: rgba(240, 248, 255, 0.233);
    align-items: center;
    justify-content: center;
    padding: 0.5;
    margin-top: 2rem;
    border-radius: 1rem;
    width: 100%;
}
.abajo p {
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    color: black;
    margin-left: 6rem;
    
}

@media all and (max-width:800px){
    .contain{
        display: flex;
        flex-direction: column-reverse;
    }
    .section1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 1rem;
        max-width: 25rem;
        width: 70vw;
       
      
    }
.abso{
    margin: 0;
}
    .abso img{
        width: 10rem;
        margin-top: 0;
    }
    .abajo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        height: 2rem;
    }
    .abajo p{
     
       display: flex;
       justify-self: center;
       align-self: center;
       margin-left: 0;
    }
    form{
        margin-top: 5rem;
        width: 70vw;
   
    }
    label input{
        width: 60vw;
    }
   .check{
 
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}
