@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

 body{
   background: url(https://fondosmil.com/fondo/25777.jpg) center center fixed;
   background-size:cover;
 }

 .nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid white;
   width: 100%;
   height: 6rem;
 }
 .nav img {
   width: 6.5rem;
   margin-top: -1rem;
 }
 .menu .main-menu{
   display: flex;
   align-items: flex-start;
   gap: 0rem;
   width: 100%;
   margin-bottom: -2.6rem;
   padding: 0.5rem;
   background-color: rgba(0, 0, 0, 0.603);
   border: 1px solid white;
   border-radius: 0.5rem;
   border-bottom: none;
   justify-content: flex-start;
}

.menu .main-menu a{
   text-decoration: none;
   list-style-type: none;
   color: white;
   font-family: 'Playfair Display', serif;
   cursor: pointer;
   opacity: 1;

}
.menu .main-menu a:hover{
   opacity: 1;
   font-weight: 600;


}
.menu .main-menu li{
   list-style-type: none;
   width: 16rem;
}
.bu a {
   padding: 0  2rem 0 3rem;
}
.ba  a{
   border-left: 1px solid white;
   padding: 0  0  0 3rem;
   font-weight: 1000;
}

.be  a{
   border-left: 1px solid white;
   padding: 0  2rem 0 3rem;
  
 }
 
.bi  a{
   border-left: 1px solid white;
   padding: 0  2rem  0 3rem;
 }
 
.bo  a{
   border-left: 1px solid white;
   padding: 0  2rem  0 3rem;
  
 }

.versace{
   display: flex;
   align-items: center;
   justify-content: center;
}
 h1{
   font-family: 'Playfair Display', serif;
   color: white;
   font-style: italic;

 }

 p{
   font-family: 'Playfair Display', serif;
   color: white;
 }

.redes{
display: flex;
align-items: center;
justify-content: center;
gap: 5rem;
margin: auto;
padding: 1rem;
}

.redes img{
   width: 3rem;
   box-sizing: border-box;
}
.redes img:hover{
 opacity: 0.1;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    gap: 4rem;
}
 .image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: rem;
    background-color: rgba(253, 249, 249, 0.164);
    width: 24rem;
    margin-left: 5rem;
    border-radius: 2rem;

    
 }
.image1 img{
    width: 14rem;
    cursor: pointer;

}
.image1 p{
    display: flex;
    align-items: center;
    width: 10rem;
    padding: 1rem;
}
.image2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: rem;
    background-color: rgba(253, 249, 249, 0.164);
    width: rem;
    margin-right: rem;
    gap: 0.2rem;
    border-radius: 2rem;}


.image2 img{
   
    margin-top: 1rem;
    cursor: pointer;
}
.image2 p{
    display: flex;
    align-items: center;
    width: 28rem;
    padding: rem;
    align-self: center;
    margin-left: 2rem;
}



.image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: rem;
    background-color: rgba(253, 249, 249, 0.164);
    width: 24rem;
    margin-right: 5rem;
    border-radius: 2rem;
}
.image3 img{
    width: 14rem;
    cursor: pointer;
    }
.image3 p{
    display: flex;
    align-items: center;
    width: 10rem;
    padding: 1rem;}
    
    @media all and (max-width:1400px) {
      .nav img {
         width: 3rem;
         margin-top: 2rem;
      }

    }
    @media all and (max-width:1300px){
      .nav img { display: none;}
      .container{
         flex-direction: column;
         align-items: center;
         justify-content: center;
         display: flex;
      }
      .image1{
         display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: auto;
    background-color: rgba(253, 249, 249, 0.164);

    border-radius: 2rem;}
    .image1 img{
      width: 20rem;
      margin-top: 2rem;
    }

    .image1 p{
      width: 20rem;
    }
    .image2{
display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin: auto;
 background-color: rgba(253, 249, 249, 0.164);
 width: 24rem;
 border-radius: 2rem;}
 .image2 img{
   width: 20rem;
   margin-top: 2rem;
 }

 .image2 p{
   width: 20rem;
 }
 .image3{
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgba(253, 249, 249, 0.164);
    width: 24rem;
    border-radius: 2rem;}
    .image3 img{
      width: 20rem;
      margin-top: 2rem;
    }
   
    .image3 p{
      width: 20rem;
    }
     .be {
      display: none;
     }
      }
   
      @media all and (max-width:1000px){
         .bi{
            display: none;
         }
      }
      @media all and (max-width:800px){
         .bo{
            display: none;
         }
         .bu{
            display: none;
         }
      .ba a{
         border: none;
         justify-self: center;
         margin: 0;
     }
  .nav   {
   display: flex;
   justify-content: center;
   align-items: center;
   
}
          li a{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            align-self: center;
            justify-self: center;
            
          }
          .redes{
            margin-top: 0;
            gap: 0.5rem;
          }
          .redes img{
            width: 30px;
            gap: 0.5rem;
            padding: 0;
          }
      }

      